
@{
    ViewBag.Title = "Vereniging";
}

<h2>Lijst van verenigingen</h2>
<table class="table table-hover" width="1200">
    <tr>
        <th>ID</th>
        <th>Naam vereniging</th>
        <th>Adres</th>
        <th>Email</th>
        <th>Telefoon</th>
        <th>Edit</th>
        <th>Details</th>


    </tr>

    @foreach (var item in ViewBag.listVerenigingen)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.OrganisationName</td>
            <td>@item.Address</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>

            <td><a href="/vereniging/bewerk?id=@item.Id">Edit</a></td>
            <td><a href="/vereniging/details?id=@item.Id">Details</a></td>
        </tr>
    }
</table>

<p>Klik <a href="/Vereniging/Toevoegen">hier</a> om een vereniging toe te voegen.</p>