
@{
    ViewBag.Title = "Kassa";
}

<h2>Kassa</h2>
<h3>Lijst van kassa's met een vereniging</h3>
@using (Html.BeginForm("Overzicht", "Kassa", FormMethod.Get)) { 
    <select name="vereniging">
        <option value="0">Kies een vereniging</option>
        @foreach (var item in ViewBag.VerenigingList)
        {
            <option value="@item.Id">
                @item.OrganisationName
            </option>
        }
    </select>
    <input type="submit" value="Kies" />
}
<table width="1200">
    <tr>
        <th>ID</th>
        <th>Naam kassa</th>
        <th>Toestel</th>
        <th>Aankoopdatum</th>
        <th>Vervaldatum</th>
        <th>Vereniging</th>
        <th>Bewerk</th>
    </tr>

    @foreach (var item in ViewBag.KassaList)
    {
        <tr>
            <td>@item.Kassa.Id</td>
            <td>@item.Kassa.RegisterName</td>
            <td>@item.Kassa.Device</td>
            <td>@item.Kassa.PurchaseDate</td>
            <td>@item.Kassa.ExpiresDate</td>
            <td>@item.Organisatie.OrganisationName</td>
              <td><a href="/kassa/edit">Kies andere vereniging</a></td>
        </tr>
    }
</table>

<h3>Lijst van kassa's zonder vereniging</h3>
<table width="1200">
    <tr>
        <th>ID</th>
        <th>Naam kassa</th>
        <th>Toestel</th>
        <th>Aankoopdatum</th>
        <th>Vervaldatum</th>
        <th>Koppelen</th>
    </tr>

    @foreach (var item in ViewBag.KassaListZonderOrg)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.RegisterName</td>
            <td>@item.Device</td>
            <td>@item.PurchaseDate</td>
            <td>@item.ExpiresDate</td>
            <td><a href="/kassa/edit">Koppel de kassa aan een vereniging</a></td>
        </tr>
    }
</table>
<br />
<p>Klik <a href="/kassa/toevoegen">hier</a> om een nieuwe kassa toe te voegen.</p>

